{% extends base_template %}
{% load i18n %}

{% load xadmin_tags %}

{% block extrastyle %}
<style type="text/css">
    .btn-toolbar{margin-top: 0;}
    #content-block.full-content{margin-left: 0;}
</style>
{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block nav_title %}{% if brand_icon %}<i class="{{brand_icon}}"></i> {% endif %}{{brand_name}}{% endblock %}

{% block nav_toggles %}
{% include "xadmin/includes/toggle_menu.html" %}
{% endblock %}

{% block nav_btns %}

{% endblock nav_btns %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th width="20%">版本号</th>
                        <th width="60%">更新内容</th>
                        <th width="20%">完成时间</th>
                    </tr>
                </thead>
                <tbody id="result">
                    <tr>
                        <td style="vertical-align: middle;">v1.5</td>
                        <td>后台新增了知识量、解决率、知识量三个统计图表<br>
                            后台新增了版本更新信息<br>
                            后台接口调整，删除人工审核<br>
                            后台接口新增功能，点击未解决时，可发送问题邮件至老师邮箱待解答<br>
                            前端页面调整，增加回答时显示相关问题和法律法规，未解决时发送邮件等功能<br>
                            后台算法新增，计算个人所得税金额<br>
                            后台算法调优<br>
                        </td>
                        <td style="vertical-align: middle;">2018-09-14</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">v1.4</td>
                        <td>加入全局同义词、局部同义词算法<br>
                            后台新增支持同义词知识的导入<br>
                            后台新增知识导入模板的下载<br>
                            对算法公式进行调参<br>
                        </td>
                        <td style="vertical-align: middle;">2018-08-31</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">v1.3</td>
                        <td>后台新增人工审核大功能，模型，以及界面功能<br>
                            后台接口增加反爬虫机制<br>
                            后台接口新增提问和获取答案接口，删除session记录转换为uuid_key唯一标识<br>
                            后台知识导入导出功能<br>
                            前端对人工审核版本进行适配调整，加入轮询查询<br>
                            整理全新知识并使用<br>
                        </td>
                        <td style="vertical-align: middle;">2018-07-27</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="/static/echarts/echarts.min.js"></script>
{% endblock %}